@*
*@
@{
    ViewData["Title"] = "Index";
}
@using Assignment5.Models
@using Assignment5.Helpers
@model IEnumerable<Song>

<h2>Browse Songs
</h2>


@using (Html.BeginForm("Index", "BrowseStore", FormMethod.Get))
{
    <p>
        Genre: 
        @Html.DropDownList("selectedGenre", ViewBag.GenreList as SelectList, "All Genres", new { onchange = "this.form.submit();" })
        Artist: 
        @Html.DropDownList("selectedArtist", ViewBag.ArtistList as SelectList, "All Artists", new { onchange = "this.form.submit();" })
    </p>
}

@{
    var gridColumns = new List<GridColumn<Song>>
    {
        new GridColumn<Song> { Name = "Title", Header = "Title", ValueExpression = s => s.songTitle },
        new GridColumn<Song> { Name = "Artist", Header = "Artist", ValueExpression = s => s.artistTitle }
    };
}

@if (Model != null && Model.Any())
{
    @Html.GridView(Model, gridColumns)
}
else
{
    <p>No songs found.</p>
}