@model Assignment5.Models.Song

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="songID" />
            <div class="form-group">
                Genre ID
                <input asp-for="genreID" class="form-control" />
                <span asp-validation-for="genreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                Artist ID
                <input asp-for="artistID" class="form-control" />
                <span asp-validation-for="artistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                Song Title
                <input asp-for="songTitle" class="form-control" />
                <span asp-validation-for="songTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                Artist Title
                <input asp-for="artistTitle" class="form-control" />
                <span asp-validation-for="artistTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                Price
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
