@model Assignment5.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.artistTitle)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Genre ID:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genreID)
        </dd>
        <dt class = "col-sm-2">
            Artist Title: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artistTitle)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.artistID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
